# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
* some of the popular languages that Data Scientists use 
* some of the commonly used libraries used by Data Scientists
* a few examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) C++

Some of the commonly used libraries used by Data Scientists include:
    
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|---|
|GitHub|
|Jupiter Notebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [3]:
print("This a simple arithmetic expression to mutiply then add integers")

(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [6]:
print("This will convert 200 minutes to hours by diving by 60")

200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author ##
Dominika